.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.button-create {
    flex: 1;
    width: 100%;
    margin-bottom: 1rem;
    font-weight: bold;
}

.date-selector {
    flex: 4;
    background-color: white;
    padding: 0.75em 1em;
    border-radius: 5%;
}



.contact {
    flex: 10;
    background-color: white;
    border-radius: 5%;
    padding: 0.75em 1em;
    margin-top: 1rem;
}