.header-row {
    overflow-y: scroll;
}

.header-row > .ant-col {
    padding-bottom: 0.5rem;
    flex-basis: 0 !important;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
}

.header-row > .ant-col:not(:first-child) {
    border-left: 1px solid lightgrey;
}