abbr {
    text-decoration: none !important;
    cursor: default !important;
}

.react-calendar {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1em;
}
.react-calendar button {
    border: 0;
    border-radius: 50%;
}
.react-calendar button:enabled:hover {
    cursor: pointer;
}
.react-calendar__navigation {
    height: 2em;
    padding-bottom: 0.5em;
}
.react-calendar__navigation button {
    text-align: center;
    font-weight: bold;
    background: none;
    padding: 0 0.6em;
}
.react-calendar__navigation__prev2-button {
    display: none;
}
.react-calendar__navigation__next2-button {
    display: none;
}
.react-calendar__navigation__label {
    pointer-events: none;
}
.react-calendar__navigation button:enabled:hover {
    background-color: #e6e6e6;
}
.react-calendar__navigation button:enabled:focus {
    outline: none;
}
.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    color: #757575;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    outline: none;
    max-width: 2.8em !important;
}

.react-calendar__month-view__weekNumbers {
    font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
}
.react-calendar__month-view__days__day--weekend {
    color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
}
.react-calendar__tile {
    text-align: center;
    font-size: 0.8em;
    font-weight: bolder;
    padding: 0.55em 0;
    background: none;
}
.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
    outline: none;
}
.react-calendar__tile--now {
    background: #006edc !important;
    color: white !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #0052a5 !important;
    outline: none;
}
.react-calendar__tile--active {
    background: #76baff;
    color: #006edc;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #76baff;
    outline: none;
}
