.week {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.week-content {
    display: flex;
}

.week-schedules {
    height: 100%;
    width: 100%;
}

.week-scroller {
    overflow: auto;
}

.week-header {
    display: flex;
    border-bottom: 2px solid lightgrey;
}

.week-header > p {
    color: transparent;
    font-size: 0.8em;
    cursor: default;
    margin-right: 1rem;
    padding-right: 1px;
}

.week-header > .ant-row {
    flex: 1;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 194, 194); 
}