.day {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.day-content {
    display: flex;
}

.day-schedules {
    height: 100%;
    width: 100%;
}

.scroller {
    overflow: auto;
}

.day-header {
    display: flex;
    border-bottom: 2px solid lightgrey;
}

.day-header > p {
    color: transparent;
    font-size: 0.8em;
    cursor: default;
    margin-right: 1rem;
    padding-right: 2px;
}

.day-header > .ant-row {
    flex: 1;
}